@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bg-color: #ffc0cb;
    --header-color: #FFE9ED;
    --logo-color: #9B0067;
    --header-font-color: #6B0F4C;
    --font-color: #4D0033;
    --header-hover-color: #f7bfd1;
    --active-status-color: green; 
    --skill-icon-color: #ffe2e2; 
    --button-color: #ffdbe2;
    --button-hover-color: #F5A3B1;
    --project-card-color: #F5A3B1; 
    --hover-color: #ffdbe2;
    --box-color: black; 
    --info-card-color: black;
    --footer-color: #D7A7B2; 
}

/* General Styling */
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--header-font-color);
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

main{
    margin-top: 0.5rem;
}
h1, h2, h3, h4{
    text-align: center;
}
h1{
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3{
    font-size: 1.75rem;
}

h4 {
    font-size: 1.25rem;
}
p {
    font-size: 1rem;
}

main > section {
    min-height: calc(100svh - 6rem);
    scroll-margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
}

hr{
    border: none;
}

.icon {
    object-fit: cover;
    width: 70px;
    height: 70px;
}

/* Nav Bar */ 
header {
    position: sticky;
    top: 0.5rem;
    z-index: 100000;
    text-align: center;
    background-color: var(--header-color);
    border-radius: 2rem;
    padding: 0.5rem;
    width:  50%;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    line-height: 2.25rem;
    min-width: 150px;
    .logo a{
        color: var(--logo-color);
        font-size: 1.75rem;
        font-weight: bold;
        text-decoration: none;
    }
    nav {
        li {
            display: inline-block;
            margin-inline: 0.5rem;
        }

        a {
            color: var(--header-font-color);
            text-decoration: none;
        }

        a:hover {
            border-radius: 2rem;
            background-color: var(--header-hover-color);
            padding: 0.5rem;
        }
    }
}

/* Home Section */ 
.home {
    flex: 1;
    text-align: center;
    gap: 0.5rem;
    .name {
        white-space: nowrap;
    }
    h2 {
        font-weight: lighter;
    }
}

.button {
    display: block;
    text-decoration: none;
    background-color: var(--button-color);
    color: var(--font-color);
    padding: 0.5rem;
    border-radius: 1.5rem;
    margin: 0.5rem;
} 

.button:hover, .button:focus{
    background-color: var(--button-hover-color);
}

.active p {
    position: relative;
    font-size: 1.25rem;
}

.active p::before {
    position: absolute;
    content: '';
    background: var(--active-status-color);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
}


/* About Me Section */ 
.bio {
    margin: 0.5rem;
    p{
        flex: 0 1 34em;
        margin: 0 1.5em;
        line-height: 1.5;
    }
    .me-photo {
        float: left;
        width: 180px;
        height: auto;
        object-fit: cover;
        margin: 0 15px 0 0.5rem;
        border-radius: 2rem;
    }

    a {
        color: var(--font-color);
    }
}

.education {
    align-self: stretch;
    h3 {
        text-align: center;
    }
}
.education-card {
    margin: 0.5em 0.5rem;
    img {
        float: left;
        margin: 0 15px 0 0.5rem;
    }

    .edu-heading {
        display: flex;
        justify-content: space-between;
    }

    ol {
        list-style-position: outside;
        margin: 0;
        padding-left: 1.25rem;
    }
}

.skill-list {
    display: inline-flex;
}
.skill-icon{
    background-color: var(--skill-icon-color);
    border-radius: 2rem;
    padding: .75rem;
    width: auto; 
    height: 60px;
    margin: 0.5rem;
}

.popup-text {
    text-align: center;
    background-color: var(--button-hover-color);
    padding: 0.25em;
    border-radius: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.skill-container:hover .popup-text{
    opacity: 1;
    visibility: visible;
}
/* Project Section */ 
.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    gap: 10px 10px;
    margin: 1.5rem;
}

.project-card {
    a{
        display: block;
        background-color: var(--project-card-color);
        border-radius: 1.5rem;
        padding: 1.5rem;
        color: var(--font-color);
        text-decoration: none;
    }

    a:hover {
        background-color: var(--hover-color);
    }
}

.meta-text {
    font-weight: lighter;
}

/* Experience Section */ 

.experience, .experience h3 {
    text-align: left;
}

.timeline {
    max-width: 90vw;
}
.timeline-content {
    position: relative;
    border-left: 2px solid var(--box-color);
}

.content {
    position: relative;
}

.content::after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: var(--box-color);
    left: -10px;
    bottom: 50%;
}

.info-card {
    align-self: stretch;
    border: 2px var(--info-card-color) dotted;
    list-style-position: inside;
    margin: 1.5em 4rem;
    padding: 1.25rem;
    box-sizing: border-box;

    h3 {
        word-break: normal;
        overflow-wrap: normal;
        hyphens: none;
    }
    img {
        float: left;
    }
    a {
        color: var(--font-color);
    }
}



/* Contact Section */
.contact {
    min-height: calc(90svh - 7rem);
}
/* Footer */
footer{
    background-color: var(--footer-color);
    text-align: center;

     p{ 
     font-size: 0.875rem;
    }

    
}

@media (max-width: 769px){
    header {
        display: none;
    }

    h2:not(.home h2, .contact h2) {
        position: sticky;
        top: 0;
        background-color: var(--bg-color);
        margin: 0;
        padding: 0;
        align-self: stretch;
        width: auto;
        margin-inline: -1rem;
        z-index: 10;
    }

    .experience .timeline {
        max-width: none;
        width: 100%;
    }

    .timeline-content{
        margin: 0 2.5rem;
    }
}

@media (max-width: 600px) {
    .active {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .active p {
        display: inline-block;
        margin: 0 auto;
        padding-left: 1.75rem;
        text-align: center;
    }

    .active p::before {
        left: 0;
    }

    .active .availible {
        display: block;
    }

    


    .info-card {
        margin-inline: 1rem;
        margin-left: 2.5rem;
    }

    .education-card .edu-heading h4 {
        text-align: left;
    }
}


@media (max-width: 425px){
    .active p{
        margin: 2rem auto;
    }
}