@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bg-color: #ffc0cb;
    --header-color: #FFE9ED;
    --logo-color: #9B0067;
    --header-font-color: #6B0F4C;
    --font-color: #4D0033;
    --header-hover-color: #f7bfd1;
    --jump-down-color: #ffdbe2;
    --button-hover-color: #F5A3B1;
    --project-card-color: #F5A3B1; 
    --hover-color: #ffdbe2;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", sans-serif;
    margin: 0.5rem;
    background-color: var(--bg-color);
    color: var(--header-font-color);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* header, section {
    margin: 2em auto;
} */

header {
    position: sticky;
    top: 0.5rem;
    z-index: 100000;
    text-align: center;
    background-color: var(--header-color);
    border-radius: 2rem;
    padding: 0.5rem;
    width:  50%;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    line-height: 2.25rem;
    min-width: 150px;
    .logo a{
        color: var(--logo-color);
        font-size: 1.75rem;
        font-weight: bold;
        text-decoration: none;
    }
    nav {
        li {
            display: inline-block;
            margin-inline: 0.5rem;
        }

        a {
            color: var(--header-font-color);
            text-decoration: none;
        }

        a:hover {
            border-radius: 2rem;
            background-color: var(--header-hover-color);
            padding: 0.5rem;
        }
    }
}

main{
    margin-top: 0.5rem;
}
h1, h2, h3, h4{
    text-align: center;
}
h1{
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3{
    font-size: 1.75rem;
}

h4 {
    font-size: 1.25rem;
}
p {
    font-size: 1rem;
}

section {
    min-height: calc(100vh - 180px);
    scroll-margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

hr{
    border: none;
}

/* Home Section */ 
.home {
    flex: 1;
    text-align: center;
    gap: 0.5rem;
    .name {
        white-space: nowrap;
    }
    h2 {
        font-weight: lighter;
    }

    a {
        display: block;
        text-decoration: none;
        background-color: var(--jump-down-color);
        color: var(--font-color);
        padding: 0.5rem;
        border-radius: 1.5rem;
    } 

    a:hover, a:focus{
        background-color: var(--button-hover-color);
    }
}

/* Who Am I Section */ 
.bio {


    p{
        flex: 0 1 34em;
        margin: 0 1.5em;
        line-height: 1.5;
    }
    img {
        float: left;
        width: 180px;
        height: auto;
        object-fit: cover;
        margin: 0 15px 0 0.5rem;
        border-radius: 2rem;

    }

    a {
        color: var(--font-color);
    }
}

/* Project Section */ 
.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    gap: 10px 10px;
    margin: 1.5rem;
}

.project-card {
    
    a{
        display: block;
        background-color: var(--project-card-color);
        border-radius: 1.5rem;
        padding: 1.5rem;
        color: var(--font-color);
        text-decoration: none;
    }

    a:hover {
        background-color: var(--hover-color);
    }
}

.tools, .meta-text {
    font-weight: lighter;
}

/* Experience Section */ 

.experience, .experience h3 {
    text-align: left;
}

.timeline {
    max-width: 90vw;
}
.timeline-content {
    position: relative;
    border-left: 2px solid black;
}

.content {
    position: relative;
}

.content::after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: black;
    left: -10px;
    bottom: 50%;
}

.info-card {
    align-self: stretch;
    border: 2px black dotted;
    list-style-position: inside;
    margin: 1.5em 4rem;
    padding: 1.25rem;
    box-sizing: border-box;
}

