@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bg-color: #ffc0cb;
    --header-color: #FFE9ED;
    --logo-color: #9B0067;
    --header-font-color: #6B0F4C;
    --font-color: #4D0033;
    --hover-color: #f8cedb;
    --jump-down-color: #FFE9ED;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", sans-serif;
    margin: 0.5rem;
    background-color: var(--bg-color);
    color: var(--header-font-color);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header, section {
    margin: 2em auto;
}

header {
    position: sticky;
    top: 0.5rem;
    z-index: 100000;
    text-align: center;
    background-color: var(--header-color);
    border-radius: 2rem;
    padding: 0.5rem;
    width:  50%;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    line-height: 2.25rem;
    min-width: 150px;
    .logo {
        color: var(--logo-color);
        font-size: 1.75rem;
        font-weight: bold;
    }
    nav {
        li {
            display: inline-block;
            margin-inline: 0.5rem;
        }

        a {
            color: var(--header-font-color);
            text-decoration: none;
        }

        a:hover {
            border-radius: 2rem;
            background-color: var(--hover-color);
            padding: 0.5rem;
        }
    }
}

main{
    margin-top: 0.5rem;
}

h1{
    font-size: 2.5rem;
    text-align: center;
}

h2{ 
    font-size: 1.75rem;
    text-align: center;
}

section {
    min-height: calc(100vh - 180px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

hr{
    border: none;
}
.home {
    flex: 1;
    text-align: center;
    gap: 0.5rem;
    .name {
        white-space: nowrap;
    }
    h2 {
        font-weight: lighter;
    }

    a {
        display: block;
        text-decoration: none;
        background-color: var(--jump-down-color);
        color: var(--font-color);
        padding: 0.5rem;
        border-radius: 1.5rem;
    }

    a:hover, a:focus{
        text-decoration: underline;
    }
}

.bio {

    h2 {
        text-align: center;
    }
    p{
        flex: 0 1 34em;
        margin: 0 1.5em;
        line-height: 1.5;
    }
    img {
        float: left;
        width: 180px;
        height: auto;
        object-fit: cover;
        margin: 0 15px 0 0.5rem;
        border-radius: 2rem;

    }

    a {
        color: var(--font-color);
    }
}